#1.Importing Libraries

In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#2.Importing data

In [104]:
df=pd.read_csv(r'https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Bike%20Prices.csv')

In [105]:
df.head()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              1061 non-null   object
 1   Model              1061 non-null   object
 2   Selling_Price      1061 non-null   int64
 3   Year               1061 non-null   int64
 4   Seller_Type        1061 non-null   object
 5   Owner              1061 non-null   object
 6   KM_Driven          1061 non-null   int64
 7   Ex_Showroom_Price  626 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 66.4+ KB

In [107]:
df.describe()

       Selling_Price         Year      KM_Driven  Ex_Showroom_Price
count    1061.000000  1061.000000    1061.000000       6.260000e+02
mean    59638.151744  2013.867107   34359.833176       8.795871e+04
std     56304.291973     4.301191   51623.152702       7.749659e+04
min      5000.000000  1988.000000     350.000000       3.049000e+04
25%     28000.000000  2011.000000   13500.000000       5.485200e+04
50%     45000.000000  2015.000000   25000.000000       7.275250e+04
75%     70000.000000  2017.000000   43000.000000       8.703150e+04
max    760000.000000  2020.000000  880000.000000       1.278000e+06

In [108]:
df

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
0,TVS,TVS XL 100,30000,2017,Individual,1st owner,8000,30490.0
1,Bajaj,Bajaj ct 100,18000,2017,Individual,1st owner,35000,32000.0
2,Yo,Yo Style,20000,2011,Individual,1st owner,10000,37675.0
3,Bajaj,Bajaj Discover 100,25000,2010,Individual,1st owner,43000,42859.0
4,Bajaj,Bajaj Discover 100,24999,2012,Individual,2nd owner,35000,42859.0
...,...,...,...,...,...,...,...,...
1056,Royal,Royal Enfield Electra 5 S,90000,2012,Individual,1st owner,40000,NaN
1057,Hero,Hero Honda Hunk,20000,2010,Individual,1st owner,17000,NaN
1058,Bajaj,Bajaj Pulsar 220 DTS-i,60000,2014,Individual,1st owner,16000,NaN
1059,Hero,Hero Honda CBZ extreme,40000,2009,Individual,1st owner,50000,NaN
1060,Hero,Hero Honda CBZ extreme,35000,2012,Individual,1st owner,60000,NaN

In [109]:
df.tail()

,Brand,Model,Selling_Price,Year,Seller_Type,Owner,KM_Driven,Ex_Showroom_Price
1056,Royal,Royal Enfield Electra 5 S,90000,2012,Individual,1st owner,40000,NaN
1057,Hero,Hero Honda Hunk,20000,2010,Individual,1st owner,17000,NaN
1058,Bajaj,Bajaj Pulsar 220 DTS-i,60000,2014,Individual,1st owner,16000,NaN
1059,Hero,Hero Honda CBZ extreme,40000,2009,Individual,1st owner,50000,NaN
1060,Hero,Hero Honda CBZ extreme,35000,2012,Individual,1st owner,60000,NaN

#3 Getting count of each attributes

In [110]:
df[['Brand']].value_counts()

Brand
Bajaj       260
Hero        232
Honda       204
Royal       109
Yamaha      102
TVS          69
Suzuki       30
KTM          24
Mahindra      6
Vespa         4
Kawasaki      4
UM            3
Activa        3
Jawa          3
Aprilia       2
Harley        2
Hyosung       1
Benelli       1
BMW           1
Yo            1
dtype: int64

In [111]:
df[['Model']].value_counts()

Model
Bajaj Pulsar 150             41
Royal Enfield Classic 350    27
Honda Activa [2000-2015]     23
Honda CB Hornet 160R         22
Bajaj Pulsar 180             20
                             ..
Hero Honda CD100SS            1
Hero Honda Karizma            1
Royal Enfield Machismo        1
Hero Honda Passion            1
Yo Style                      1
Length: 279, dtype: int64

In [112]:
df[["Selling_Price"]].value_counts()

Selling_Price
25000            77
35000            66
40000            63
50000            63
30000            62
                 ..
47999             1
39000             1
36999             1
31000             1
760000            1
Length: 130, dtype: int64

In [113]:
df[['Seller_Type']].value_counts()

Seller_Type
Individual     1055
Dealer            6
dtype: int64

In [114]:
df[['Owner']].value_counts()

Owner
1st owner    924
2nd owner    123
3rd owner     11
4th owner      3
dtype: int64

In [115]:
df[["Ex_Showroom_Price"]].value_counts()

Ex_Showroom_Price
50267.0              23
85011.0              20
54605.0              15
74295.0              14
78712.0              12
                     ..
63180.0               1
62317.0               1
61653.0               1
61118.0               1
1278000.0             1
Length: 230, dtype: int64

#4 Getting column names

In [116]:
df.columns

Index(['Brand', 'Model', 'Selling_Price', 'Year', 'Seller_Type', 'Owner',
       'KM_Driven', 'Ex_Showroom_Price'],
      dtype='object')

In [117]:
df.shape

(1061, 8)

In [118]:
df.replace({'Seller_Type':{'Individual':0,'Dealer':1,'Trustmark Dealer':2}},inplace=True)

In [119]:
df.replace({'Owner':{'1st owner':0,'2nd owner':1,'3rd owner':2,'4th owner':3,}},inplace=True)

In [120]:
df.fillna(value=0,inplace=True)

#3.Defining target variables and features

In [121]:
y=df['Selling_Price']

In [122]:
y.shape

(1061,)

In [123]:
X=df.drop(['Brand','Model','Selling_Price'],axis=1)

In [124]:
X

      Year  Seller_Type  Owner  KM_Driven  Ex_Showroom_Price
0     2017            0      0       8000            30490.0
1     2017            0      0      35000            32000.0
2     2011            0      0      10000            37675.0
3     2010            0      0      43000            42859.0
4     2012            0      1      35000            42859.0
...    ...          ...    ...        ...                ...
1056  2012            0      0      40000                0.0
1057  2010            0      0      17000                0.0
1058  2014            0      0      16000                0.0
1059  2009            0      0      50000                0.0
1060  2012            0      0      60000                0.0

[1061 rows x 5 columns]

#4.Train test split

In [125]:
from sklearn.model_selection import train_test_split

In [126]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=2529)

In [127]:
X_train

      Year  Seller_Type  Owner  KM_Driven  Ex_Showroom_Price
194   2019            0      0       3500            57557.0
308   2011            0      0      40000            71757.0
355   2016            0      1      50000            78350.0
1012  2007            0      0      80000                0.0
1017  2007            0      0      70000                0.0
...    ...          ...    ...        ...                ...
380   2013            0      0      60000            79432.0
943   2012            0      1      20000                0.0
740   2007            0      0      75000                0.0
399   2016            0      0      25000            80435.0
828   2017            0      0      16500                0.0

[742 rows x 5 columns]

#5.Model Selection

In [128]:
from sklearn.linear_model import LinearRegression

In [129]:
lr=LinearRegression()

# 6.Activating mode i.e fitting the model

In [130]:
lr.fit(X_train,y_train)

LinearRegression()

In [131]:
lr.intercept_

-7182190.852192592

In [132]:
lr.coef_

array([ 3.58629869e+03,  1.53617037e+04,  7.43665795e+03, -8.26618459e-02,
        4.04532146e-01])

#7.Predicting

In [133]:
y_pred=lr.predict(X_test)

In [134]:
y_pred

array([ 58075.02576584,  51061.55244382, 121106.42912368,  67126.49673685,
        55502.31859006,  81815.01275883,  50906.56148272,  57884.90352023,
        85630.29271463,  69370.22655582,  58380.87459573,  16385.14684806,
         8071.04790249, 117653.97785769,  30962.25209609, 109497.2060055 ,
        57791.41012876,  70411.87077252,   2701.24686458,  39044.1297766 ,
         9692.4455076 ,  98048.36625836,  53637.31006518,  60409.44184676,
        69842.80216678,  46795.36007343,  58298.21274981,  53926.62652589,
        70205.57904703,  78555.5613803 ,  31551.96170487,  58050.22721206,
        41555.82446737,  57719.57982839,  31127.57578792,  79848.29868027,
        53554.64821926,  75985.26616081,  37473.55470416,  53719.9719111 ,
        73513.50827177,  36755.92320035,  14417.02681872,  88653.62239524,
       110457.21914708,  38996.05756309,  73354.69751318,  57160.80535575,
        62710.91025589,  42134.4573888 ,  39540.1008521 ,  58008.8962891 ,
        97343.83101023, 127077.44278335,  43096.68712291,  72471.37607418,
        57560.18654252,  50133.67322339, 100476.09138695,  44604.82115661,
        82957.10763307,  50381.65876114,  99823.45314349,  50139.22250308,
       -22139.09413893,  68977.20056596,  63810.62598408,  23376.34549108,
        80532.04043728,  50292.04969243,  48571.36433554,  48893.74553462,
        83293.06135572,  56981.5536211 , 109434.57497347, 132055.32225042,
        76034.34761205,  19507.31377351, 114920.56341989,  61148.36368023,
        56112.46822006,  51034.68734389,  79283.81986932,  48940.19344931,
        67685.78108872,  50133.67322339,  57223.60875288,  55993.01481412,
        62469.07476491,  93133.08014509,  30988.98166787,  58071.33732783,
        41225.1770837 ,  56240.09019176,  74978.12573811,  26962.64417879,
        69436.52305796,   9609.78366168,  87613.54597034,  74330.52109895,
        82334.25537516,  21309.79934314, 114151.80825285,  35505.74544269,
        64126.27573157,  40465.45619776,  78094.11733998,  87600.90608529,
        55159.25925683,  47334.59380347, 120579.96590948,  87311.58962458,
        63035.2339723 ,  51024.42480002,  76132.14799145,  22963.0362615 ,
        23293.68364517,  84206.99074916,  35164.95342443,  58008.8962891 ,
        17650.33041923,  77024.42609945,  57802.24167431,  46134.06530609,
        70455.34697969,  44269.93892214,  89303.23725797,  62745.16586183,
        47571.15599994,  27242.46902979,  48331.18765375,  54924.49908287,
        52562.70606825,  59714.00773705,  88296.29543517,  50216.33506931,
        54401.12512722,  10830.72813102,  52464.8397391 ,  73736.23280315,
        55534.19818214,  67006.68843919,  75647.36963364,  66351.00471602,
        10550.90328002,  79680.0422893 ,  26913.04707124,  34368.89084311,
        25360.22979311,  45767.20399119, 192608.78864528, 101794.18959037,
        74646.6503989 ,   3658.1307556 ,  64637.24444326,  78720.05541968,
       560465.20437748,  51042.95352848,  54066.69433532,  77440.51009227,
        68836.66706196,  49097.8848451 ,  28863.8666349 ,  66042.49582386,
        63046.49127219,  70244.35030542,  65661.02590751,  64802.56813509,
        25722.71649003,  60219.66152516,  96195.31132993,  54422.5976014 ,
        43654.20992856,  32482.00463585, -54364.95979562,  24896.09803085,
        75581.88922245,  49703.69723203,  54811.10827721,  33440.8820485 ,
        58050.22721206,  53405.60891107, 101330.77827758,   9187.4391276 ,
        45158.19819564,  53761.30283405,  68319.93004516,  48232.45076728,
        90337.89232067,  46646.85841729, 145453.95742537,  69308.01066995,
        26879.98233287,  88914.26860121,  63066.66937082,  76470.67851226,
        65771.42262444,  26384.01125737,  43287.34861366,  58050.22721206,
        64630.23182214,  35654.99409397,  42678.3428181 ,  56771.39297227,
        50216.33506931,  41762.88489979,  81071.20528069,  38942.79547912,
       106439.4749878 ,  29309.09783958,  38630.82054701,  39292.11531435,
       137259.72141812,  77019.37154026,  96064.98280427,  56286.133533  ,
        52893.35345192,  76618.51543655,  53146.46402412,  73606.22586681,
        91079.32294896,  47208.66930302,  31045.74056046,  54166.34587905,
        49637.70214788,  64677.0887423 ,  53524.4766455 ,  27706.60079205,
        68636.7863695 ,  83453.07870857,  55713.74018569,  59458.73106242,
        64148.06273083,  71811.23359153,  68826.06623744,  84172.694749  ,
       -24101.41820174,  46232.80219257,  51958.16423955,   3543.62959644,
        78094.86774556,  68182.45136681,  29639.6625614 ,  69427.83673806,
        76285.46144816,  80858.05803276,  99703.14685487,  52057.43779766,
        54298.60483252,  24616.27317985,  72739.90803376,  25277.56794719,
        75390.93254381,  71990.77705553,  46032.87473171,  75626.84052952,
        72575.86923547,  73693.45175329,   8897.66636167,  50133.67322339,
        51649.7102829 ,  83646.4084126 ,  83965.59160803, 112975.55139617,
        77314.80403908,  76672.49547072,  53389.32452742,  70542.69664283,
       114396.17788011,  54319.270294  ,  49141.73107238,   6075.5619369 ,
        31226.3126744 ,  98770.48546184,  40233.23493269,  21029.97449214,
        61478.11562805,  83220.88458919,  64519.68487399,  89851.71450835,
        79069.87732691,  12468.20077669,  75683.36707114,  76338.82302972,
        69640.79149086,  26879.98233287,  28450.55740531,  44067.51915815,
        72997.97258065, 122707.3899704 ,  56409.34985401,  42547.76661838,
        91751.25987249,  55323.44405978,  62665.44759695,  67987.11445816,
        63653.42543277,  62186.96390641,  11212.19804736,  -3256.67870447,
        50799.85672384,  21929.76318752,  78384.05441513,  57917.96825859,
        58422.20551869,  53885.46926473,  36498.62639084, 104302.96941205,
        15574.29266157,  78368.91729051,  13294.81923586,  54380.93603105,
        57918.93948536,  92113.58931051,  73397.35873257,  94830.86529019,
        68519.41682362,  83057.32364643,  27541.27710022])

#8.Finding Accuracy

In [135]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [136]:
mean_squared_error(y_test,y_pred)

1822072076.271505

In [137]:
mean_absolute_error(y_test,y_pred)

29566.125218971618

In [138]:
r2_score(y_test,y_pred)

0.4903147142014005